/*test*/
* {
  user-select: none;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #494786;
}

canvas {
border: #000;
border-style: solid;
border-radius: 20px;
}

button {
  outline: 0 !important;
  cursor:
    pointer;
}
.buttons {
  border: 6px solid var(--stroke);
  padding: 8px 3px;
  background-color: var(--darkGray);
  border-radius: 100px;
  float: right;
  position: relative;
  transform: rotate(-20deg);
  top: 30px;
 }
 .buttons button {
  background-color: var(--gray);
  border: 6px solid var(--stroke);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  box-shadow: inset 4px 0 rgba(255,255,255,0.7), inset -4px 0 rgba(0,0,0,0.2) ;
  margin: 0 5px;
 }
 .start-reset  {
  list-style: none;
  text-align: center;
  width: 100%;
  float: left;
 }
 .start-reset li {
  display: inline-block;
  margin: 0 15px;
  
 }
 .start-reset li button {
  border: 6px solid var(--stroke);
  background-color:var(--light-brow);
  width: 20px;
  height: 50px;
  padding: 0;
  border-radius: 10px;
  box-shadow: inset 3px 0 #fff, 3px 0 rgba(0,0,0,0.2);
  transform: rotate(60deg);
  position: relative;
  left: -25px;
  top: -10px;
 }
 .points {
  text-align: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
 }
 .points span {
  font-size: 25px;
  line-height: 0px;
  letter-spacing: 3px;
  margin-top: -3px;
  display: block;
  color: var(--stroke);
  
 }

button:focus {
  box-shadow: inset 0 0 !important;
}

/* COLORS */
:root {
  --pink: #FAD1D9;
  --blue: #C5F6FF;
  --stroke: #a1a1a1;
  --green: #C2E688;
  --gray: #d9d9d9;
  --light-brow: #a1a1a1;
  --purple: #8208b3;
  --darkGray: #504f4f;
}

.actions {
  /*  display: flex; */
  padding: 30px 14px 0;
}

.directions {
  width: 40vw;
  height: 20vh;
  position: relative;
  display: flex;
  float: left;
}

.directions button {
  border: 6px solid var(--stroke);
  background-color: var(--gray);;
  position: absolute;
  z-index: 9;
}

.arrow-left {
  border-right: none !important;
  box-shadow: inset 0 4px #fff, inset 0 -4px rgba(0, 0, 0, 0.2);
  top: 50%;
  width: 40%;
  height: 20%;
  left: 0;
}

.arrow-top {
  border-bottom: none !important;
  box-shadow: inset 0 4px #fff;
  left: 45%;
  width: 20%;
  height: 40%;
  top: 0;
}

.arrow-right {
  border-left: none !important;
  box-shadow: inset 0 4px #fff, inset 0 -4px rgba(0, 0, 0, 0.2);
  top: 50%;
  width: 40%;
  height: 20%;
  right: 0;
}

.arrow-bottom {
  border-top: none !important;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.2);
  left: 50%;
  width: 10%;
  height: 40%;
  bottom: 0;
}



/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 50%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(255, 255, 255, 0);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;

  position: absolute;
  top: 50%;
  left: 53%;
  width: 90vw;
  height: 10vh;
  margin-left: -50vw;
  margin-top: -150px;


}

/* Modal Content */
.modal-content {
  position: fixed;
  top: 10vh;
  background-color: #fefefe;
  width: 90%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

